@model MCMD.ViewModel.doctor.HomeDocSearchViewModel

@{
    ViewBag.Title = "ClinicProfile";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

@Scripts.Render("~/Content/Web_Theme/assets/plugins/fancybox/source/jquery.fancybox.pack.js")
@Scripts.Render("~/Content/Web_Theme/assets/plugins/bxslider/jquery.bxslider.js")

@Styles.Render("~/Content/Web_Theme/assets/plugins/fancybox/source/jquery.fancybox.css")

@Styles.Render("~/Content/template_content/assets/css/pages/profile.css")
@Styles.Render("~/Content/template_content/assets/css/style.css")
@Styles.Render("~/Content/template_content/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.css")
@Styles.Render("~/Content/template_content/assets/plugins/chosen-bootstrap/chosen/chosen.css")
@Styles.Render("~/Content/template_content/assets/plugins/uniform/css/uniform.default.css")

@Styles.Render("~/Content/Web_Theme/assets/css/pages/portfolio.css")

<script type="text/javascript">
    $(document).ready(function () {

        $('.fancybox').fancybox();

        $('.fancybox-buttons').fancybox({
            openEffect: 'none',
            closeEffect: 'none',

            prevEffect: 'none',
            nextEffect: 'none',

            closeBtn: false,

            helpers: {
                title: {
                    type: 'inside'
                },
                buttons: {}
            },

            afterLoad: function () {
                this.title = 'Image ' + (this.index + 1) + ' of ' + this.group.length + (this.title ? ' - ' + this.title : '');
            }
        });


        /*
         *  Thumbnail helper. Disable animations, hide close button, arrows and slide to next gallery item if clicked
         */

        $('.fancybox-thumbs').fancybox({
            prevEffect: 'none',
            nextEffect: 'none',

            closeBtn: false,
            arrows: false,
            nextClick: true,

            helpers: {
                thumbs: {
                    width: 50,
                    height: 50
                }
            }
        });

        /*
         *  Media helper. Group items, disable animations, hide arrows, enable media and button helpers.
        */
        $('.fancybox-media')
            .attr('rel', 'media-gallery')
            .fancybox({
                openEffect: 'none',
                closeEffect: 'none',
                prevEffect: 'none',
                nextEffect: 'none',

                arrows: false,
                helpers: {
                    media: {},
                    buttons: {}
                }
            });



    });
</script>
<style type="text/css">
    .fancybox-custom .fancybox-skin {
        box-shadow: 0 0 50px #222;
    }
</style>


<!-- BEGIN CONTAINER -->
<div class="container min-hight" style="padding-top:130px;">
    <!-- BEGIN BLOG -->
    <div class="row-fluid">
        <!-- BEGIN RIGHT SIDEBAR -->
        <div class="span3 blog-sidebar">
            <blockquote style="background:#fae5d1; border-left-color:#1f317f; padding-top:1px;">
                @Html.Partial("QuickSearchPartialView")
            </blockquote>
        </div>
        <!-- END RIGHT SIDEBAR -->
        <!-- BEGIN LEFT SIDEBAR -->
        <div class="span9 blog-item margin-bottom-40">
            @using System.Globalization;
            @{
            var textinfo = new CultureInfo(Culture, false).TextInfo;
            var ClinicName = @Html.DisplayFor(e => e.ClinicName);
            var Cname = textinfo.ToTitleCase(ClinicName.ToString());
            }
            <div class="well" style=" background-color:#fff; padding:12px;">
                <div class="clearfix"></div>
                <!-- BEGIN PAGE CONTAINER-->
                <div class="container-fluid" style="padding-left:0px; padding-right:0px;">             
                  
                    <div class="span12">
                        <ul class="unstyled profile-nav span3">
                            @if (!string.IsNullOrEmpty(Model.FolderFilePath))
                            {
                                <li><img src="@Url.Content(@Model.FolderFilePath)" alt="" style="border:2px solid; border-color:#d12610; border-radius:6px;height:191.328px;width:191.328px;" /></li>
                            }
                            else
                            {
                                <li><img src="~/Content/Img/Defult_clinic1.jpg" alt="" style="border:2px solid; border-color:#d12610; border-radius:6px;height:191.328px;width:191.328px;" /></li>
                            }
                        </ul>
                        <div class="span9">
                            <div class="span12 portfolio-text portfolio-block" style="background-color:#555555; border:4px solid; border-color:#aaa; padding-left:10px;">
                                <div class="portfolio-text-info">
                                    <h4 style="font-family:'PT Sans'; color:#e9811a; font-size:22px;">@Cname @*@Html.DisplayFor(e => e.ClinicName)*@ @*Fortis Hospital - Bannerghatta Road*@</h4>

                                    <ul style="list-style-type:none;margin-left:0px;">
                                        <li style="font-family:'Open Sans'; color:white; font-size:14px;">
                                            @Html.DisplayFor(e => e.SpecialityName) Clinic @*Cardiology Hospital*@
                                        </li>
                                        <br />
                                        <li style="font-family:'Open Sans'; color:white; font-size:14px;">
                                            <img src="~/Content/Img/Phone1.png" style="margin-right:0px;" />@Html.DisplayFor(e => e.ClinicPhoneNo)
                                        </li>
                                        <li><i class="icon-map-marker" style="font-size:18px; color:#ff8503;float:left;"></i> </li>
                                        <li style="font-family:'Open Sans'; color:white; font-size:14px; padding-left:24px;">
                                            @Html.DisplayFor(e => e.ClinicAddress)
                                            @*#C1/101, Silver Oak Society, Kalyani Nagar, Landmark: Above Bank of Maharashtra, Pune #C1/101, Silver Oak Society, Kalyani Nagar, Landmark: Above Bank of Maharashtra, Pune*@
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--end span9-->
                    </div>
                    <div class="span3 myToolTip" style="margin-left:-1px;">
                        <ul style="list-style-type:none; margin-left:-1px;">
                            <li>
                                <a href="#" class="btn icn-only" style="color:#fff; background-color:#58b5fb;" id="tooltip1" title="Reviews"><i class="icon-envelope" style="display:-webkit-box;"></i></a>
                                <a href="#" class="btn icn-only" style="color:#fff; background-color:#f48bb3;" id="tooltip2" title="Likes"><i class="icon-thumbs-up" style="display:-webkit-box;"></i></a>
                                <a href="#" class="btn icn-only" style="color:#fff; background-color:#8bd04d;" id="tooltip3" title="Feedback"><i class="icon-edit" style="display:-webkit-box;"></i></a>
                                <a href="#" class="btn icn-only" style="color:#fff; background-color:#da6368;" id="tooltip4" title="Likes"><i class="icon-remove" style="display:-webkit-box;"></i></a>

                            </li>
                        </ul>
                    </div>
                    <div class="span9"></div>




                    <!--Start tab-pane-->
                    <div class="span12" style="margin-left:0px; padding-top:30px">
                        <div class="tabbable tabbable-custom tabbable-custom-profile ">
                            <ul class="nav nav-tabs" id="MapClick">
                                <li class="active"><a href="#tab_1_11" data-toggle="tab" style="font-family:'Open Sans'; font-size:14px;"><b>About Clinic</b></a></li>
                                @*<li><a href="#tab_1_22" data-toggle="tab" style="font-family:'Open Sans'; font-size:14px;"><b>Gallery</b></a></li>*@
                                <li><a href="#tab_1_33" data-toggle="tab" style="font-family:'Open Sans'; font-size:14px;"><b>Services</b></a></li>
                                <li><a href="#tab_1_44" data-toggle="tab" style="font-family:'Open Sans'; font-size:14px;"><b>Map</b></a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1_11">
                                    <div class="scroller" data-height="290px" data-always-visible="1" data-rail-visible1="1">
                                        <p style="font-family:inherit; font-size:14px; color:#555555; margin:10px;">
                                            @Html.DisplayFor(e => e.AboutClinic) @*Fortis Hospital - Bannerghatta Road is a clinic in Bannerghatta Road, Bangalore. The clinic is visited by doctors like Dr. Arul Narayan, Dr. Hethal R Mehta and Dr. Joseph Xavier. The timings of Fortis Hospital - Bannerghatta Road are: Mon to Sun: 12:15am-11:45pm. Click on 'map' to find directions to reach Fortis Hospital - Bannerghatta Road.*@
                                        </p>
                                        <hr style="margin-top:20px; margin-bottom:5px; border-top-color:#d12610;" />
                                        <br />
                                        <ul class="thumbnails">
                                            <li class="span6">
                                                <i class="icon-map-marker" style="color:#ff8503; font-size:18px;"></i>

                                                <span style="font-family:inherit; font-size:15px; color:#1f317f;">
                                                    <b>@Html.DisplayFor(e => e.ClinicName)</b>
                                                </span>

                                                <p style="padding-left:24px; color:#555555;">@Html.DisplayFor(e => e.ClinicAddress)</p>

                                                <div class="testimonials-v1">
                                                    <div id="myCarousel" class="carousel slide">

                                                        <!-- Carousel items -->
                                                        <div class="carousel-inner">
                                                            <div class="item active">
                                                                <div class="blog-photo-stream image-link">
                                                                    <ul class="unstyled" style="padding-left:24px;">
                                                                        @if (!ReferenceEquals(Model.getclinicmedias, null))
                                                                        {
                                                                            for (int i = 0; i < Model.getclinicmedias.Count; i++)
                                                                            {
                                                                                <li>
                                                                                    <a class="fancybox" href="@Url.Content(@Model.getclinicmedias[i].FolderFilePath)" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet">
                                                                                        <img src="@Url.Content(@Model.getclinicmedias[i].FolderFilePath)" alt="" />
                                                                                    </a>
                                                                                </li>

                                                                            }
                                                                        }

                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            @*<div class="item">
                                                                    <div class="blog-photo-stream">
                                                                        <ul class="unstyled" style="padding-left:24px;">
                                                                            @for (int i = 4; i < Model.getclinicmedias.Count; i++)
                                                                            {
                                                                                <li>
                                                                                    <a class="fancybox" href="@Url.Content(@Model.getclinicmedias[i].FolderFilePath)" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet">
                                                                                        <img src="@Url.Content(@Model.getclinicmedias[i].FolderFilePath)" alt="" />
                                                                                    </a>
                                                                                </li>

                                                                            }

                                                                        </ul>
                                                                    </div>
                                                                </div>*@
                                                        </div>
                                                        <!-- Carousel nav -->
                                                        @*<a class="left-btn" href="#myCarousel" data-slide="prev"></a>
                                                        <a class="right-btn" href="#myCarousel" data-slide="next"></a>*@
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <i class=" icon-time" style="font-size:18px; color:#e9811a;float:left;"></i>&nbsp;
                                                <span style="font-family:inherit; font-size:15px; color:#1f317f;">
                                                    <b>Clinic Time</b>
                                                </span> <br /><br /><a class="btn red-stripe" href="#form_modal10" data-toggle="modal" style="color:#d12610; margin-left:25px; padding-bottom:3px; padding-top:3px;">Click Here...</a>

                                                <div id="form_modal10" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel10" aria-hidden="true" style="display: none;">
                                                    <div class="portlet box red" style="margin-bottom:0px;">
                                                        <div class="portlet-title">
                                                            <div class="caption"><i class="icon-user-md" style="font-size:20px;"></i>@Html.DisplayFor(e => e.ClinicName)</div>
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="opacity:initial;"></button>
                                                        </div>
                                                        <div class="portlet-body flip-scroll">
                                                            <table class="table table-striped table-bordered table-condensed flip-content">
                                                                <tr>
                                                                    <th style="text-align:center;">DAYS</th>
                                                                    <th colspan="3" style="text-align:center;">CLINIC TIME</th>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td style="text-align:center; color:#08C;"><b>1st Seating Time</b></td>
                                                                    <td style="text-align:center; color:#08C;"><b>2nd Seating Time</b></td>
                                                                    <td style="text-align:center; color:#08C;"><b>3rd Seating Time</b></td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="color:#08C; font-family:'Open Sans'"><b>Monday</b></td>
                                                                    <td>@Html.DisplayFor(e => e.StartTimefs1) &nbsp;-&nbsp; @Html.DisplayFor(e => e.EndTimefs1) </td>
                                                                    <td>@Html.DisplayFor(e => e.StartTimess1)&nbsp;-&nbsp; @Html.DisplayFor(e => e.EndTimess1) </td>
                                                                    <td>@Html.DisplayFor(e => e.StartTimets1)&nbsp;-&nbsp; @Html.DisplayFor(e => e.EndTimets1) </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="color:#08C; font-family:'Open Sans'"><b>Tuesday</b></td>
                                                                    <td>@Html.DisplayFor(e => e.StartTimefs2)&nbsp;-&nbsp;@Html.DisplayFor(e => e.EndTimefs2) </td>
                                                                    <td>@Html.DisplayFor(e => e.StartTimess2)&nbsp;-&nbsp;@Html.DisplayFor(e => e.EndTimess2) </td>
                                                                    <td>@Html.DisplayFor(e => e.StartTimets2)&nbsp;-&nbsp;@Html.DisplayFor(e => e.EndTimets2) </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="color:#08C; font-family:'Open Sans'"><b>Wednesday</b></td>
                                                                    <td>@Html.DisplayFor(e => e.StartTimefs3)&nbsp;-&nbsp;@Html.DisplayFor(e => e.EndTimefs3) </td>
                                                                    <td>@Html.DisplayFor(e => e.StartTimess3)&nbsp;-&nbsp;@Html.DisplayFor(e => e.EndTimess3) </td>
                                                                    <td>@Html.DisplayFor(e => e.StartTimets3)&nbsp;-&nbsp;@Html.DisplayFor(e => e.EndTimets3) </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="color:#08C; font-family:'Open Sans'"><b>Thursday</b></td>
                                                                    <td>@Html.DisplayFor(e => e.StartTimefs4)&nbsp;-&nbsp;@Html.DisplayFor(e => e.EndTimefs4) </td>
                                                                    <td>@Html.DisplayFor(e => e.StartTimess4)&nbsp;-&nbsp;@Html.DisplayFor(e => e.EndTimess4) </td>
                                                                    <td>@Html.DisplayFor(e => e.StartTimets4)&nbsp;-&nbsp;@Html.DisplayFor(e => e.EndTimets4) </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="color:#08C; font-family:'Open Sans'"><b>Friday</b></td>
                                                                    <td>@Html.DisplayFor(e => e.StartTimefs5)&nbsp;-&nbsp;@Html.DisplayFor(e => e.EndTimefs5) </td>
                                                                    <td>@Html.DisplayFor(e => e.StartTimess5)&nbsp;-&nbsp;@Html.DisplayFor(e => e.EndTimess5) </td>
                                                                    <td>@Html.DisplayFor(e => e.StartTimets5)&nbsp;-&nbsp;@Html.DisplayFor(e => e.EndTimets5) </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="color:#08C; font-family:'Open Sans'"><b>Saturday</b></td>
                                                                    <td>@Html.DisplayFor(e => e.StartTimefs6)&nbsp;-&nbsp;@Html.DisplayFor(e => e.EndTimefs6) </td>
                                                                    <td>@Html.DisplayFor(e => e.StartTimess6)&nbsp;-&nbsp;@Html.DisplayFor(e => e.EndTimess6) </td>
                                                                    <td>@Html.DisplayFor(e => e.StartTimets6)&nbsp;-&nbsp;@Html.DisplayFor(e => e.EndTimets6) </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="color:#08C; font-family:'Open Sans'"><b>Sunday</b></td>
                                                                    <td>@Html.DisplayFor(e => e.StartTimefs7)&nbsp;-&nbsp;@Html.DisplayFor(e => e.EndTimefs7) </td>
                                                                    <td>@Html.DisplayFor(e => e.StartTimess7)&nbsp;-&nbsp;@Html.DisplayFor(e => e.EndTimess7) </td>
                                                                    <td>@Html.DisplayFor(e => e.StartTimets7)&nbsp;-&nbsp;@Html.DisplayFor(e => e.EndTimets7) </td>
                                                                </tr>

                                                            </table>

                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <i class="icon-money" style="color:#ff8503; font-size:18px;"></i>
                                                <span style="font-family:inherit; font-size:15px; color:#1f317f;">
                                                    <b>INR @Html.DisplayFor(e => e.ClinicFees)</b><br /><br />
                                                </span>
                                                @*@for (int i = 0; i < Model.getclinicvideos.Count; i++)
                                                    {

                                                        <iframe src="http://player.vimeo.com/video/56974716?portrait=0" height="205" style="width:100%; border:0" allowfullscreen></iframe>

                                                    }*@
                                            </li>
                                        </ul>

                                        <hr style="margin-top:0px; margin-bottom:5px; border-top-color:#d12610;" />
                                        <h4>
                                            &nbsp;<i class="icon-user-md" style="color:#ff8503; font-size:18px;"></i>
                                            <span style="font-family:inherit; font-size:16px; color:#1f317f;">
                                                <b>&nbsp;Affiliated Doctors</b>
                                            </span>
                                        </h4>
                                        <div class="accordion in collapse" id="accordion1" style="height: auto;">
                                            <div class="accordion-group">
                                                <div class="accordion-heading" style="background:#08c;">
                                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_1" style="padding-top:4px; padding-bottom:4px; color:#fff; text-align:left;">

                                                        Dr.Sonali Borude
                                                    </a>
                                                </div>
                                                <div id="collapse_1" class="accordion-body collapse" style="height: 0px;">
                                                    <div class="accordion-inner">
                                                        <div class="span12">
                                                            <ul class="unstyled profile-nav span3" style="list-style-type:none;">
                                                                <li><img src="~/Content/Web_Theme/assets/img/people/img3-large.jpg" alt="" style="border:2px solid; border-color:#d12610; border-radius:6px;height:177px;width:177px;" /></li>

                                                            </ul>
                                                            <div class="span9">
                                                                <blockquote style="background:#eee; border-left-color:#d12610; padding-top:1px;">

                                                                    <h4 style="font-family:'PT Sans'; color:black; font-size:16px;"><a href="@Url.Action(" docprofile", "Home" )" style="color:#d12610;">Dr. Sandhya Balasubramanyan Zambre</a></h4>

                                                                    <ul style="list-style-type:none;margin-left:0px;">
                                                                        <li style="font-family:'Open Sans'; color:black; font-size:14px;">
                                                                            MS - General Surgery , DNB - Gastroenterology , FRCS , MBBS
                                                                        </li>
                                                                        <li style="font-family:'Open Sans'; color:black; font-size:13px;">
                                                                            Surgeon , 14 Years Experience
                                                                        </li>

                                                                        <li><i class="icon-map-marker" style="font-size:18px; color:#d12610; float:left;"></i> </li>
                                                                        <li style="font-family:'Open Sans'; color:black; font-size:14px; padding-left:24px;">
                                                                            #C1/101, Silver Oak Society, Kalyani Nagar, Landmark: Above Bank of Maharashtra, Pune #C1/101,
                                                                        </li>
                                                                        <br />
                                                                        <li style="font-family:'Open Sans'; color:black;">
                                                                            &nbsp;<i class=" icon-time" style="color:#d12610;"></i>&nbsp; MON-SAT
                                                                        </li>
                                                                        <li style="padding-left:22px; color:black;">
                                                                            6:00 PM - 8:00 PM &nbsp; 6:00 PM - 8:00 PM
                                                                        </li>
                                                                    </ul>

                                                                </blockquote>
                                                            </div>
                                                            <!--end span9-->
                                                        </div>
                                                        <div class="span12">
                                                            <div class="span3">
                                                                <ul class="social-icons social-icons-color">
                                                                    <li><a href="#" data-original-title="amazon" class="amazon"></a></li>
                                                                    <li><a href="#" data-original-title="behance" class="behance"></a></li>
                                                                    <li><a href="#" data-original-title="blogger" class="blogger"></a></li>
                                                                    <li><a href="#" data-original-title="deviantart" class="deviantart"></a></li>
                                                                </ul>

                                                            </div>
                                                            <div class="span9" style="margin-left:-1px;">
                                                                <div class="span12">
                                                                    <button class="btn blue btn-block" style="padding-top:4px; padding-bottom:4px;">Book Appointment @*<i class="m-icon-swapright m-icon-white"></i>*@</button>

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-group">
                                                <div class="accordion-heading" style="background:#08c;">
                                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_2" style="padding-top:4px; padding-bottom:4px; color:#fff; text-align:left;">

                                                        Dr.Neha Kasar
                                                    </a>
                                                </div>
                                                <div id="collapse_2" class="accordion-body collapse">
                                                    <div class="accordion-inner">
                                                        <div class="span12">
                                                            <ul class="unstyled profile-nav span3" style="list-style-type:none;">
                                                                <li><img src="~/Content/Web_Theme/assets/img/people/img3-large.jpg" alt="" style="border:2px solid; border-color:#d12610; border-radius:6px;height:177px;width:177px;" /></li>

                                                            </ul>
                                                            <div class="span9">
                                                                <blockquote style="background:#eee; border-left-color:#d12610; padding-top:1px;">

                                                                    <h4 style="font-family:'PT Sans'; color:black; font-size:16px;"><a href="@Url.Action(" docprofile", "Home" )" style="color:#d12610;">Dr. Sandhya Balasubramanyan Zambre</a></h4>

                                                                    <ul style="list-style-type:none;margin-left:0px;">
                                                                        <li style="font-family:'Open Sans'; color:black; font-size:14px;">
                                                                            MS - General Surgery , DNB - Gastroenterology , FRCS , MBBS
                                                                        </li>
                                                                        <li style="font-family:'Open Sans'; color:black; font-size:13px;">
                                                                            Surgeon , 14 Years Experience
                                                                        </li>

                                                                        <li><i class="icon-map-marker" style="font-size:18px; color:#d12610; float:left;"></i> </li>
                                                                        <li style="font-family:'Open Sans'; color:black; font-size:14px; padding-left:24px;">
                                                                            #C1/101, Silver Oak Society, Kalyani Nagar, Landmark: Above Bank of Maharashtra, Pune #C1/101,
                                                                        </li>
                                                                        <br />
                                                                        <li style="font-family:'Open Sans'; color:black;">
                                                                            &nbsp;<i class=" icon-time" style="color:#d12610;"></i>&nbsp; MON-SAT
                                                                        </li>
                                                                        <li style="padding-left:22px; color:black;">
                                                                            6:00 PM - 8:00 PM &nbsp; 6:00 PM - 8:00 PM
                                                                        </li>
                                                                    </ul>

                                                                </blockquote>

                                                            </div>
                                                            <!--end span9-->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-group">
                                                <div class="accordion-heading" style="background:#08c;">
                                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_3" style="padding-top:4px; padding-bottom:4px; color:#fff; text-align:left;">

                                                        Dr.Uday Rathod
                                                    </a>
                                                </div>
                                                <div id="collapse_3" class="accordion-body collapse">
                                                    <div class="accordion-inner">
                                                        <div class="span12">
                                                            <ul class="unstyled profile-nav span3" style="list-style-type:none;">
                                                                <li><img src="~/Content/Web_Theme/assets/img/people/img3-large.jpg" alt="" style="border:2px solid; border-color:#d12610; border-radius:6px;height:177px;width:177px;" /></li>

                                                            </ul>
                                                            <div class="span9">
                                                                <blockquote style="background:#eee; border-left-color:#d12610; padding-top:1px;">

                                                                    <h4 style="font-family:'PT Sans'; color:black; font-size:16px;"><a href="@Url.Action(" docprofile", "Home" )" style="color:#d12610;">Dr. Sandhya Balasubramanyan Zambre</a></h4>

                                                                    <ul style="list-style-type:none;margin-left:0px;">
                                                                        <li style="font-family:'Open Sans'; color:black; font-size:14px;">
                                                                            MS - General Surgery , DNB - Gastroenterology , FRCS , MBBS
                                                                        </li>
                                                                        <li style="font-family:'Open Sans'; color:black; font-size:13px;">
                                                                            Surgeon , 14 Years Experience
                                                                        </li>

                                                                        <li><i class="icon-map-marker" style="font-size:18px; color:#d12610; float:left;"></i> </li>
                                                                        <li style="font-family:'Open Sans'; color:black; font-size:14px; padding-left:24px;">
                                                                            #C1/101, Silver Oak Society, Kalyani Nagar, Landmark: Above Bank of Maharashtra, Pune #C1/101,
                                                                        </li>
                                                                        <br />
                                                                        <li style="font-family:'Open Sans'; color:black;">
                                                                            &nbsp;<i class=" icon-time" style="color:#d12610;"></i>&nbsp; MON-SAT
                                                                        </li>
                                                                        <li style="padding-left:22px; color:black;">
                                                                            6:00 PM - 8:00 PM &nbsp; 6:00 PM - 8:00 PM
                                                                        </li>
                                                                    </ul>

                                                                </blockquote>

                                                            </div>
                                                            <!--end span9-->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-group">
                                                <div class="accordion-heading" style="background:#08c;">
                                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_4" style="padding-top:4px; padding-bottom:4px; color:#fff; text-align:left;">

                                                        Dr.Rajshree Bhambre
                                                    </a>
                                                </div>
                                                <div id="collapse_4" class="accordion-body collapse">
                                                    <div class="accordion-inner">
                                                        <div class="span12">

                                                            <ul class="unstyled profile-nav span3" style="list-style-type:none;">
                                                                <li><img src="~/Content/Web_Theme/assets/img/people/img3-large.jpg" alt="" style="border:2px solid; border-color:#d12610; border-radius:6px;height:177px;width:177px;" /></li>

                                                            </ul>


                                                            <div class="span9">
                                                                <blockquote style="background:#eee; border-left-color:#d12610; padding-top:1px;">

                                                                    <h4 style="font-family:'PT Sans'; color:black; font-size:16px;"><a href="@Url.Action(" docprofile", "Home" )" style="color:#d12610;">Dr. Sandhya Balasubramanyan Zambre</a></h4>

                                                                    <ul style="list-style-type:none;margin-left:0px;">
                                                                        <li style="font-family:'Open Sans'; color:black; font-size:14px;">
                                                                            MS - General Surgery , DNB - Gastroenterology , FRCS , MBBS
                                                                        </li>
                                                                        <li style="font-family:'Open Sans'; color:black; font-size:13px;">
                                                                            Surgeon , 14 Years Experience
                                                                        </li>

                                                                        <li><i class="icon-map-marker" style="font-size:18px; color:#d12610; float:left;"></i> </li>
                                                                        <li style="font-family:'Open Sans'; color:black; font-size:14px; padding-left:24px;">
                                                                            #C1/101, Silver Oak Society, Kalyani Nagar, Landmark: Above Bank of Maharashtra, Pune #C1/101,
                                                                        </li>
                                                                        <br />
                                                                        <li style="font-family:'Open Sans'; color:black;">
                                                                            &nbsp;<i class=" icon-time" style="color:#d12610;"></i>&nbsp; MON-SAT
                                                                        </li>
                                                                        <li style="padding-left:22px; color:black;">
                                                                            6:00 PM - 8:00 PM &nbsp; 6:00 PM - 8:00 PM
                                                                        </li>
                                                                    </ul>

                                                                </blockquote>

                                                            </div>
                                                            <!--end span9-->


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="tab-pane" id="tab_1_22">
                                        <div class="portlet-body" style="display: block; margin-top:10px;">
                                            <div class="row-fluid search-images">
                                                <ul class="thumbnails">
                                                    <li class="span3">
                                                        <a class="fancybox-button" data-rel="fancybox-button" title="390 x 220 - keenthemes.com" href="~/Content/Web_Theme/assets/img/photos/img1.jpg">
                                                            <img src="~/Content/Web_Theme/assets/img/photos/img1.jpg" alt="" style="border:2px solid; border-color:#1f317f; border-radius:10px;">

                                                        </a>
                                                    </li>
                                                    <li class="span3">
                                                        <a class="fancybox-button" data-rel="fancybox-button" title="Photo" href="~/Content/Web_Theme/assets/img/photos/img2.jpg">
                                                            <img src="~/Content/Web_Theme/assets/img/photos/img2.jpg" alt="" style="border:2px solid; border-color:#1f317f; border-radius:10px;">

                                                        </a>
                                                    </li>
                                                    <li class="span3">
                                                        <a class="fancybox-button" data-rel="fancybox-button" title="390 x 220 - keenthemes.com" href="~/Content/Web_Theme/assets/img/photos/img3.jpg">
                                                            <img src="~/Content/Web_Theme/assets/img/photos/img3.jpg" alt="" style="border:2px solid; border-color:#1f317f; border-radius:10px;">

                                                        </a>
                                                    </li>
                                                    <li class="span3">
                                                        <a class="fancybox-button" data-rel="fancybox-button" title="390 x 220 - keenthemes.com" href="~/Content/Web_Theme/assets/img/photos/img4.jpg">
                                                            <img src="~/Content/Web_Theme/assets/img/photos/img4.jpg" alt="" style="border:2px solid; border-color:#1f317f; border-radius:10px;">

                                                        </a>
                                                    </li>
                                                </ul>
                                                <ul class="thumbnails">
                                                    <li class="span3">
                                                        <a class="fancybox-button" data-rel="fancybox-button" title="390 x 220 - keenthemes.com" href="~/Content/Web_Theme/assets/img/photos/img5.jpg">
                                                            <img src="~/Content/Web_Theme/assets/img/photos/img5.jpg" alt="" style="border:2px solid; border-color:#1f317f; border-radius:10px;">

                                                        </a>
                                                    </li>
                                                    <li class="span3">
                                                        <a class="fancybox-button" data-rel="fancybox-button" title="390 x 220 - keenthemes.com" href="~/Content/Web_Theme/assets/img/photos/img6.jpg">
                                                            <img src="~/Content/Web_Theme/assets/img/photos/img6.jpg" alt="" style="border:2px solid; border-color:#1f317f; border-radius:10px;">

                                                        </a>
                                                    </li>
                                                    <li class="span3">
                                                        <a class="fancybox-button" data-rel="fancybox-button" title="390 x 220 - keenthemes.com" href="~/Content/Web_Theme/assets/img/photos/img7.jpg">
                                                            <img src="~/Content/Web_Theme/assets/img/photos/img7.jpg" alt="" style="border:2px solid; border-color:#1f317f; border-radius:10px;">

                                                        </a>
                                                    </li>
                                                    <li class="span3">
                                                        <a class="fancybox-button" data-rel="fancybox-button" title="390 x 220 - keenthemes.com" href="~/Content/Web_Theme/assets/img/photos/img8.jpg">
                                                            <img src="~/Content/Web_Theme/assets/img/photos/img8.jpg" alt="" style="border:2px solid; border-color:#1f317f; border-radius:10px;">

                                                        </a>
                                                    </li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>*@
                                <div class="tab-pane" id="tab_1_33">
                                    <div class="scroller" data-height="290px" data-always-visible="1" data-rail-visible1="1">
                                        <h4>
                                            <i class="icon-plus-sign-alt" style="color:#ff8503; font-size:18px;"></i>
                                            <span style="font-family:inherit; font-size:16px; color:#1f317f;">
                                                <b>Services</b>
                                            </span>
                                        </h4>
                                        <ul class="thumbnails">
                                            <li class="span4" style="font-family: 'PT Sans'; font-size: 15px;">
                                                @for (int i = 0; i < Model.getservices.Count; i++)
                                                {
                                                    <i class="icon-caret-right" style="color:#1f317f;"></i> @Model.getservices[i].services <br />
                                                }
                                                <br />

                                            </li>

                                        </ul>

                                    </div>
                                </div>
                                <div class="tab-pane" id="tab_1_44" style="margin-left:10px;">
                                    <div class="span6">

                                        @Html.HiddenFor(m => m.ClinicAddress, new { @id = "ClinicID" })
                                        @Html.HiddenFor(m => m.latitude, new { @id = "LatID" })
                                        @Html.HiddenFor(m => m.longitude, new { @id = "LongID" })
                                        <script src="http://maps.googleapis.com/maps/api/js">
                                        </script>
                                        <script>
                                            function initialize() {
                                                var Address = document.getElementById('ClinicID').value;
                                                var LatitudeS = document.getElementById('LatID').value;
                                                var LongitudeS = document.getElementById('LongID').value;

                                              //  alert(LatitudeS);
                                               // alert(LongitudeS);
                                                //18.59954264521111', '73.78543764352798
                                                var myLatlng = new google.maps.LatLng(LatitudeS, LongitudeS);
                                                var mapOptions = {
                                                    zoom: 5,
                                                    center: myLatlng
                                                }
                                                var map = new google.maps.Map(document.getElementById('googleMap'), mapOptions);

                                                var marker = new google.maps.Marker({
                                                    position: myLatlng,
                                                    map: map,
                                                    title: Address
                                                });
                                            }
                                            google.maps.event.addDomListener(MapClick, 'click', initialize);
                                        </script>
                                        <div id="googleMap" style="width:800px;height:380px;"></div>



                                        @*<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3945.918802003381!2d76.910826!3d8.507264999999999!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b05bc0c3d02452f%3A0xa4bc574dba432391!2sLords+Hospital!5e0!3m2!1sen!2sin!4v1434627710340" width="800" height="400" frameborder="0" style="border:0"></iframe>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End tab-pane-->
                    <!-- END PAGE CONTENT-->
                </div>
                <!-- END PAGE CONTAINER-->
            </div>
            <!-- END LEFT SIDEBAR -->
        </div>
        <!-- END BEGIN BLOG -->
    </div>
    <!-- END CONTAINER -->
</div>
