@model MCMD.EntityModel.Administration.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="container">
    <div class="content">
   
            <div>
                <h2>User Details</h2>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        First Name<b>:</b>
                        @*@Html.DisplayNameFor(model => model.FirstName)*@
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>

                    <dt>
                        Last Name<b>:</b>
                        @*@Html.DisplayNameFor(model => model.LastName)*@
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LastName)
                    </dd>

                    <dt>
                        Email ID<b>:</b>
                        @*@Html.DisplayNameFor(model => model.EmailID)*@
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EmailID)
                    </dd>

                    <dt>
                        Employee Id<b>:</b>
                        @*@Html.DisplayNameFor(model => model.EmployeeId)*@
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EmployeeId)
                    </dd>

                    @*<dt>
                        @Html.DisplayNameFor(model => model.Password)
                    </dt>*@

                    @*<dd>
                        @Html.DisplayFor(model => model.Password)
                    </dd>*@

                    @*<dt>
                        @Html.DisplayNameFor(model => model.ConfirmPassword)
                    </dt>*@

                    @*<dd>
                        @Html.DisplayFor(model => model.ConfirmPassword)
                    </dd>*@

                    <dt>
                        User Role<b>:</b>
                        @*@Html.DisplayNameFor(model => model.UserRole)*@
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.UserRole)
                    </dd>

                    <dt>
                        Status<b>:</b>
                        @*@Html.DisplayNameFor(model => model.Status)*@
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Status)
                    </dd>

                    <dt>
                        Created Date<b>:</b>
                        @*@Html.DisplayNameFor(model => model.CreatedDate)*@
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CreatedDate)
                    </dd>

                    <dt>
                        Created ID<b>:</b>
                        @*@Html.DisplayNameFor(model => model.CreatedID)*@
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CreatedID)
                    </dd>

                    <dt>
                        Modify Date<b>:</b>
                        @*@Html.DisplayNameFor(model => model.ModifyedDate)*@
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ModifyedDate)
                    </dd>

                    <dt>
                        Modify ID<b>:</b>
                        @*@Html.DisplayNameFor(model => model.ModifiedID)*@
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ModifiedID)
                    </dd>

                </dl>
            </div>
        <hr />
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.UserId }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
</div>
