@model MCMD.ViewModel.Administration.UserDetailsViewModel
@{
    ViewBag.Title = "ViewDoctor";
    Layout = "~/Views/Shared/_ThemeLayout.cshtml";
}

@{

    int Pages = 20;
    WebGrid grid = new WebGrid(Model.getDoctor, canPage: true, rowsPerPage: Pages);
    grid.Pager(WebGridPagerModes.NextPrevious);
}
@*<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>*@


<script type="text/javascript">

    //Delete User on click
    function DeleteUserData(varid) {
        if (varid != null) {
            if (confirm('Are you sure you want to delete the selected user?')) {
                var deleteInputs = [];
                //$('.chkview:checked').each(function (i, chk) {
                deleteInputs.push(varid);
                //});
                var url = '@Url.Action("BatchDeleteDoc", "User")';
                $.ajax({
                    type: "POST",
                    async: false,
                    cache: false,
                    url: url,
                    traditional: true,
                    data: { deleteInputs: deleteInputs },
                    success: function (data) {
                        var url = '@Url.Action("ViewDoctor", "User")';
                        window.location.href = url;

                    }
                });
            }
        }
    }
    function EditDoctorData(varid) {
        if (varid != null) {
            if (confirm('Are you sure you want to edit the details of selected user?')) {
                var Inputs = [];
                //$('.chkview:checked').each(function (i, chk) {
                Inputs.push(varid);
                //});
                var url = '@Url.Action("UserEditDoctor", "DoctorInfo")';
                $.ajax({
                    type: "POST",
                    async: false,
                    cache: false,
                    url: url,
                    traditional: true,
                    data: { Id: Inputs },
                    success: function (data) {
                        // alert(data)
                        if (data.isRedirect == true) {
                            window.location = data.redirectUrl;
                        }
                        //  window.location.reload();
                    }
                });
            }
        }
    }

</script>

<!-- BEGIN PAGE CONTAINER-->
<div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">
            <!-- BEGIN STYLE CUSTOMIZER -->
         
            <h3 class="page-title"></h3>
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="">Home</a>
                    <span class="icon-angle-right"></span>
                </li>
                <li>
                    <a href="#">Manage User</a>
                    <span class="icon-angle-right"></span>
                </li>
                <li>
                    <a href="#">Manage Doctor</a>
                    <span class="icon-angle-right"></span>
                </li>

            </ul>
        </div>

    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="portlet box blue ">
        <div class="portlet-title">
            <div class="caption"><i class="icon-reorder"></i>Manage Doctor</div>

        </div>

        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            @using (Html.BeginForm(Html.BeginForm("ViewDoctor", "User",
            new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { @class = "form-horizontal form-bordered" })))
            {

                @Html.ValidationSummary(true)
                <div class="control-group">
                    <label class="control-label">ClinicName</label>
                    <div class="controls">
                        @Html.DropDownListFor(m => m.ClinicName, new SelectList(Model.DoctorClinicInformation, "ClinicInfoId", "ClinicName"),
                                         "-Select-", new { @class = "m-wrap span7" })
                      
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Speciality</label>
                    <div class="controls">
                        @Html.DropDownListFor(m => m.SpecialityIDID, new SelectList(Model.speciality, "SpecialityID", "SpecialityName"),
                                          "-Select-", new { @class = "m-wrap span7" })
                        
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Doctor Id</label>
                    <div class="controls">
                        @Html.TextBoxFor(u => u.LoginId, new { @class = "m-wrap span7", @placeholder = "Enter Doctor Id", @maxlength = "30", @autocomplete = "off" })
                      
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Phone #</label>
                    <div class="controls">
                        @Html.TextBoxFor(u => u.UserPhone, new { @class = "m-wrap span7", @type = "phone", @placeholder = "Enter Phone Number format is{ 0123456789, 012-345-6789, (012)-345-6789 }", @maxlength = "15", @autocomplete = "off" })
                       
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">First Name</label>
                    <div class="controls">
                        @Html.TextBoxFor(u => u.FirstName, new { @class = "m-wrap span7", @placeholder = "Enter First Name", @maxlength = "30", autocomplete = "off" })
                      


                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Last Name</label>
                    <div class="controls">
                        @Html.TextBoxFor(u => u.LastName, new { @class = "m-wrap span7", @placeholder = "Enter Last Name", @maxlength = "30", autocomplete = "off" })
                      
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Email ID</label>
                    <div class="controls">
                        @Html.TextBoxFor(u => u.EmailID, new { @class = "m-wrap span7", @type = "email", @placeholder = "Enter email Id", @maxlength = "50", autocomplete = "off" })
                     
                    </div>
                </div>

                <div class="form-actions">
                    <button type="Submit" id="btnCreate" name="btnCreate" class="btn blue">Search</button>
                    <button type="button" id="btnscd" class="btn" name="btnscd" onclick="location.href='@Url.Action("ViewDoctor", "User")'">Reset</button>
                </div>
            }
            <!-- END FORM-->
        </div>
    </div>
    <div class="portlet ">

        <div class="portlet-body">

            @grid.GetHtml(
                            tableStyle: "table table-striped table-bordered table-advance table-hover",
                 footerStyle: "gridFooter",
                        alternatingRowStyle: "alt",
                         htmlAttributes: new { id = "grdUsers" },
                         mode: WebGridPagerModes.All,
                       firstText: "<< First",
    previousText: "< Previous", nextText: "Next >",
    lastText: "Last >>",
                     columns: new[] {
                     grid.Column("UserName",header: "User Name", canSort: false),
                     grid.Column("FirstName",header: "First Name", canSort: false),
                     grid.Column("LastName",header: "Last Name", canSort: false),
                     grid.Column("LoginId",header: "Doctor Id", canSort: false),
                     grid.Column("SpecialityName",header: "Speciality", canSort: false),
                     grid.Column("EmailID",header: "Email ID", canSort: false),
                     grid.Column("UserPhone",header: "Phone No", canSort: false),
                    //  grid.Column("RoleName",header: "User Type", canSort: false),
                       grid.Column("ClinicName",header: "Clinic Name", canSort: false),
                       grid.Column("MembershipType",header: "Membership Type", canSort: false),
                      grid.Column(header: "Option", format: @<text>

                        <a id="btnEdit" style="cursor:pointer;" onclick="EditDoctorData( @item.LoginId)">Edit</a>|
                        <a id="btnDelete" style="cursor:pointer;" onclick="DeleteUserData( @item.LoginId)">Delete</a>
                    </text>)
                })



        </div>
    </div>

    <!-- END PAGE CONTENT-->
</div>



@Scripts.Render("~/bundles/jqueryval")








