@model MCMD.ViewModel.Administration.DoctorPersonalInfoViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




<div class="login-container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form">
            <div class="col-sm-12">
                <div class="form-horizontal">
                    <h2>Doctor Profile</h2>
                    <hr />
                    @Html.HiddenFor(model => model.CreatedByID, new { @Value = Convert.ToInt32(ViewData["PageRole"]) })

                    <div class="form-group">
                        <div class="col-sm-4 control-label">First Name<b>:</b></div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @placeholder = "Enter First Name", @maxlength = "30", @autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            <span id="RolelabelFirstName" style="display: none; color: #F00; font-weight: bold; font-size: 12px;">FirstName is required.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 control-label">Middle Name<span>*</span><b>:</b></div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.MiddleName, new { @class = "form-control", @placeholder = "Enter Middle Name", @maxlength = "30", @autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
                            <span id="RolelabelFirstName" style="display: none; color: #F00; font-weight: bold; font-size: 12px;">MiddleName is required.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 control-label">Last Name<b>:</b></div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @placeholder = "Enter Last Name", @maxlength = "30", @autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            <span id="RolelabelLastName" style="display: none; color: #F00; font-weight: bold; font-size: 12px;">LastName is required.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 control-label">Qualification<span>*</span><b>:</b></div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Qualification, new { @class = "form-control", @placeholder = "Enter Qualification", @maxlength = "30", @autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.Qualification, "", new { @class = "text-danger" })
                            <span id="RolelabelLastName" style="display: none; color: #F00; font-weight: bold; font-size: 12px;">Qualification is required.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 control-label">Speciality<b>:</b></div>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(m => m.SpecialityID, new SelectList(Model.SpecialityList, "SpecialityID", "SpecialityName"), "-Select-", new { @class = "form-control" })
                            <span id="RolelabelTitleId" style="display: none; color: #F00; font-weight: bold; font-size: 12px;">Speciality is required.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 control-label">Personal Phone No<b>:</b></div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.UserPhone, new { @class = "form-control", @placeholder = "Enter Personal Phone", @maxlength = "15", @autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.UserPhone, "", new { @class = "text-danger" })
                            <span id="RolelabelLastName" style="display: none; color: #F00; font-weight: bold; font-size: 12px;">PersonalPhoneNo is required.</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 control-label">Email Id<b>:</b></div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.EmailID, new { @class = "form-control", @placeholder = "Enter Email Id", @maxlength = "30", @autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger" })
                            <span id="RolelabelEmailId" style="display: none; color: #F00; font-weight: bold; font-size: 12px;">EmailId is required.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 control-label">Registration Number<span>*</span><b>:</b></div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.RegistrationNo, new { @class = "form-control", @placeholder = "Enter RegistrationNo", @maxlength = "30", autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.RegistrationNo)
                            <span id="RolelabelPassword" style="display: none; color: #F00; font-weight: bold; font-size: 12px;">RegistrationNo is required.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 control-label">Affiliation <span>*</span><b>:</b></div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Affiliation, new { @class = "form-control", @placeholder = "Enter Affiliation", @maxlength = "50", autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.Affiliation)
                            <span id="RolelabelConfirmPassword" style="display: none; color: #F00; font-weight: bold; font-size: 12px;">Affiliation is required.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 control-label">About ME<b>:</b></div>
                        <div class="col-sm-8">
                            @Html.TextAreaFor(model => model.AboutMe, new { @class = "form-control", @placeholder = "Enter About ME", @maxlength = "100", @autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.AboutMe, "", new { @class = "text-danger" })
                            <span id="RolelabelPhone" style="display: none; color: #F00; font-weight: bold; font-size: 12px;">AboutMe is required.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 control-label">About Experience<b>:</b></div>
                        <div class="col-sm-8">
                            @Html.TextAreaFor(model => model.AboutExperience, new { @class = "form-control", @placeholder = "Enter About Experience", @maxlength = "100", @autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.AboutExperience, "", new { @class = "text-danger" })
                            <span id="RolelabelPhone" style="display: none; color: #F00; font-weight: bold; font-size: 12px;">AboutExperience is required.</span>
                        </div>
                    </div>
                    @*<span class="login-row red field-validation-error">@ViewBag.Message</span>*@
                    <span class="fancybox-error" style="color:red;">

                        @TempData["Message"]
                    </span>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="buttons">
                                <button type="Submit" id="btnSave" name="btnRegister">Submit</button>
                                <button type="button" id="btnscd" name="btnscd" onclick="location.href='@Url.Action("Create", "DoctorInfo")'">Reset</button>
                                <button type="button" id="btnNext" name="btnNext" onclick="location.href='@Url.Action("Create", "DoctorClinicInfo")'">Next</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    }
    <div class="clear"></div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}