@model MCMD.ViewModel.Administration.DoctorPersonalInfoViewModel


@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_ThemeLayout.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
<!-- BEGIN PAGE CONTAINER-->
<div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">

            <h3 class="page-title"></h3>
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="">Home</a>
                    <span class="icon-angle-right"></span>
                </li>
                <li>
                    <a href="#">Manage Doctor</a>
                    <span class="icon-angle-right"></span>
                </li>
                <li>
                    <a href="#">Doctor Personal Information</a>
                    <span class="icon-angle-right"></span>
                </li>

            </ul>
        </div>
        <div>
            <span class="text-success">@TempData["SuccessMessage"]</span>
            <span class="text-error">@TempData["Message"]</span>
        </div>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="portlet box blue ">
        <div class="portlet-title">
            <div class="caption"><i class="icon-reorder"></i>Doctor Personal Information</div>

        </div>

        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            @using (Html.BeginForm(Html.BeginForm("Create", "DoctorInfo",
            new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { @class = "form-horizontal form-bordered", enctype = "multipart/form-data" })))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                @Html.HiddenFor(model => model.CreatedByID, new { @Value = Convert.ToInt32(ViewData["PageRole"]) })
                <div class="control-group">
                    <label class="control-label">First Name<span class="required">*</span></label>
                    <div class="controls">

                        @Html.TextBoxFor(model => model.FirstName, new { @class = "m-wrap span7", @placeholder = "Enter First Name", @maxlength = "30", @autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-error" })

                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Middle Name</label>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.MiddleName, new { @class = "m-wrap span7", @placeholder = "Enter Middle Name", @maxlength = "30", @autocomplete = "off" })
                        @*@Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-error" })*@
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Last Name<span class="required">*</span></label>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.LastName, new { @class = "m-wrap span7", @placeholder = "Enter Last Name", @maxlength = "30", @autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-error" })
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Qualification<span class="required">*</span></label>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.Qualification, new { @class = "m-wrap span7", @placeholder = "Enter Qualification*", @maxlength = "58", @autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.Qualification, "", new { @class = "text-error" })<br /><br />
                        @Html.TextAreaFor(model => model.Qualification1, new { @class = "m-wrap span7", @placeholder = "Enter Qualification", @maxlength = "500", @autocomplete = "off" })


                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Speciality<span class="required">*</span></label>
                    <div class="controls">
                        @Html.DropDownListFor(m => m.SpecialityID, new SelectList(Model.SpecialityList, "SpecialityID", "SpecialityName"), "-Select-", new { @class = "m-wrap span7" })
                        @Html.ValidationMessageFor(m => m.SpecialityID, "", new { @class = "text-error" })
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Phone #<span class="required">*</span></label>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.UserPhone, new { @class = "m-wrap span7", @placeholder = "Enter Personal Phone", @maxlength = "15", @autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.UserPhone, "", new { @class = "text-error" })
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Email ID<span class="required">*</span></label>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.EmailID, new { @class = "m-wrap span7", @placeholder = "Enter Email Id", @maxlength = "30", @autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-error" })
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Registrations <span class="required">*</span></label>
                    <div class="controls">
                        @Html.TextAreaFor(model => model.RegistrationNo, new { @class = "m-wrap span7", @placeholder = "Enter Registration No", @maxlength = "100", autocomplete = "off"})
                        @Html.ValidationMessageFor(model => model.RegistrationNo, string.Empty, new { @class = "text-error" })
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Clinic/Hospital Affiliation</label>
                    <div class="controls">
                        @Html.TextAreaFor(model => model.Affiliation, new { @class = "m-wrap span7", @placeholder = "Enter Affiliation", @maxlength = "500", autocomplete = "off" })
                        @*@Html.ValidationMessageFor(model => model.Affiliation)*@
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Experience</label>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.AboutExperience, new { @class = "m-wrap span7", @placeholder = "Enter About Experience", @maxlength = "100", @autocomplete = "off" })
                        @*@Html.ValidationMessageFor(model => model.AboutExperience, "", new { @class = "text-error" })*@
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">About Me</label>
                    <div class="controls">
                        @Html.TextAreaFor(model => model.AboutMe, new { @class = "m-wrap span7", @placeholder = "Enter About ME", @autocomplete = "off", @rows = 5 })
                        @*@Html.ValidationMessageFor(model => model.AboutMe, "", new { @class = "text-error" })*@
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Profile Photo @*<span class="required">*</span>*@</label>
                    <div class="controls">

                        <input id="ImagePath" title="Upload a clinic image"
                               type="file" name="file" />
                        @if (!string.IsNullOrEmpty(@Model.FolderFilePath))
                        {
                            <img src="@Url.Content(@Model.FolderFilePath)" alt="" style="border:2px solid; border-color:#d12610; border-radius:6px;height:70px;width:70px;" />
                        }
                    </div>
                </div>
                <label>
                    <span style="color:red">*</span> Indicates mandatory fields.
                </label>
                <div class="form-actions" style="padding-left:20px;">

                    <button type="button" id="btnscd" class="btn blue" name="btnscd" style="float:left;" onclick="location.href='@Url.Action("ViewDoctor", "User")'">Back</button>
                    <button type="Submit" id="btnSave" class="btn blue" name="btnRegister" style="float:right;">Next</button>
                    @*<button type="button" id="btnNext" class="btn blue" name="btnNext" style="float:right;">Next</button>*@

                    @*<button type="button" id="btnNext" class="btn" name="btnNext" onclick="location.href='@Url.Action("Create", "DoctorClinicInfo")'">Next</button>*@
                </div>
            }

            <!-- END FORM-->
        </div>


    </div>

    <!-- END PAGE CONTENT-->
</div>
<!-- END PAGE CONTAINER-->
@Scripts.Render("~/bundles/jqueryval")