
<html>
<head>


    <meta charset="utf-8" />
    <title>Edox | Login Page</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    @Styles.Render("~/Content/template_content/assets/plugins/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/Content/template_content/assets/plugins/bootstrap/css/bootstrap-responsive.min.css")
    @Styles.Render("~/Content/template_content/assets/plugins/font-awesome/css/font-awesome.min.css")
    @Styles.Render("~/Content/template_content/assets/css/style-metro.css")
    @Styles.Render("~/Content/template_content/assets/css/style.css")
    @Styles.Render("~/Content/template_content/assets/css/style-responsive.css")
    @Styles.Render("~/Content/template_content/assets/css/themes/default.css")
    @Styles.Render("~/Content/template_content/assets/plugins/uniform/css/uniform.default.css")
    @Styles.Render("~/Content/template_content/assets/plugins/select2/select2_metro.css")
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    @Styles.Render("~/Content/template_content/assets/css/pages/login.css")
    <!-- END PAGE LEVEL STYLES -->
    <link rel="shortcut icon" href="~/Content/Img/favicon.png" />
</head>

<!-- BEGIN BODY -->
<body class="login">
    <!-- BEGIN LOGO -->
    <div class="logo">
        @*<img src="~/Content/template_content/assets/img/logo-big.png" alt="" />*@

    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    @RenderBody()

    <!-- END LOGIN -->
    <!-- BEGIN COPYRIGHT -->
    <div class="copyright">
        2015 &copy; Edox Healthcare Pvt Ltd.
    </div>
    <!-- END COPYRIGHT -->
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    @Styles.Render("~/Content/template_content/assets/plugins/jquery-1.10.1.min.js")
    @Styles.Render("~/Content/template_content/assets/plugins/jquery-migrate-1.2.1.min.js")
    <!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    @Styles.Render("~/Content/template_content/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js")
    @Styles.Render("~/Content/template_content/assets/plugins/bootstrap/js/bootstrap.min.js")
    @Styles.Render("~/Content/template_content/assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js")
    <!--[if lt IE 9]>
    <script src="assets/plugins/excanvas.min.js"></script>
    <script src="assets/plugins/respond.min.js"></script>
    <![endif]-->
    @Styles.Render("~/Content/template_content/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js")
    @Styles.Render("~/Content/template_content/assets/plugins/jquery.blockui.min.js")
    @*@Styles.Render("~/Content/template_content/assets/plugins/jquery.cookie.min.js")*@
    @Styles.Render("~/Content/template_content/assets/plugins/uniform/jquery.uniform.min.js")
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    @Styles.Render("~/Content/template_content/assets/plugins/jquery-validation/dist/jquery.validate.min.js")
    @Styles.Render("~/Content/template_content/assets/plugins/select2/select2.min.js")
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    @Styles.Render("~/Content/template_content/assets/scripts/app.js")
    @Styles.Render("~/Content/template_content/assets/scripts/login.js")
    <!-- END PAGE LEVEL SCRIPTS -->
    @*<script>
        jQuery(document).ready(function () {
            App.init();
            Login.init();

        });
    </script>*@
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->

</html>
