<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edox Healthcare Pvt Ltd. | Home</title>
    @Styles.Render("~/Content/Web_Theme/assets/css")
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    @Styles.Render("~/Content/Web_Theme/assets/plugins/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/Content/Web_Theme/assets/plugins/bootstrap/css/bootstrap-responsive.min.css")
    @Styles.Render("~/Content/Web_Theme/assets/css/reset.css")
    @Styles.Render("~/Content/Web_Theme/assets/css/style-metro.css")
    @Styles.Render("~/Content/Web_Theme/assets/css/style.css")
    @Styles.Render("~/Content/Web_Theme/assets/plugins/fancybox/source/jquery.fancybox.css")
    @Styles.Render("~/Content/Web_Theme/assets/plugins/font-awesome/css/font-awesome.min.css")
    @Styles.Render("~/Content/Web_Theme/assets/plugins/bxslider/jquery.bxslider.css")
    @Styles.Render("~/Content/Web_Theme/assets/plugins/revolution_slider/css/rs-style.css")
    @Styles.Render("~/Content/Web_Theme/assets/plugins/revolution_slider/rs-plugin/css/settings.css")
    @Styles.Render("~/Content/Web_Theme/assets/css/style-responsive.css")
    <!-- END GLOBAL MANDATORY STYLES -->
    @Styles.Render("~/Content/Web_Theme/assets/css/themes/orange.css")
    @Styles.Render("~/Content/Web_Theme/assets/css/pages/prices.css")


    @Styles.Render("~/Content/Web_Theme/assets/css/themes/bluefb.css")


    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- BEGIN BODY -->

<body style="background-image: url('../../Content/Web_Theme/assets/img/Background.png'); background-repeat: repeat;">



    <!-- BEGIN HEADER -->
    <div class="front-header" style="background-color :white; box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75)">
        <!-- BEGIN TOP BAR -->
        <div class="front-topbar" style="background-color:#E9811A;">
            <div class="container">
                <div class="row-fluid">
                    <div class="span6 ">
                        <ul class="unstyled inline">
                            <li style="color:white;"><i class="icon-phone topbar-info-icon top-2" style="color:white;"></i>Call us: <span>+91-20-60503369</span></li>
                            <li class="sep " style="color:white;"><span>|</span></li>
                            <li style="color:white;"><i class="icon-envelope-alt topbar-info-icon top-2" style="color:white;"></i>Email: <span>info@edoxhealthcare.com</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- END TOP BAR -->
        <div class="container">

            <div class="navbar">
                <div class="navbar-inner">

                    <!-- BEGIN LOGO (you can use logo image instead of text)-->
                    <a class="brand logo-v1" href="#">

                        <img src="~/Content/Web_Theme/assets/img/logo.png" id="logoimg" alt="" style="margin-top:10px;">
                    </a>
                    <!-- END LOGO -->
                    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <!-- END RESPONSIVE MENU TOGGLER -->
                    <!-- BEGIN TOP NAVIGATION MENU -->
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active">
                                <a href="@Url.Action("Search", "Home")" style="padding-bottom:20px; padding-top:20px;">
                                    Home
                                </a>
                            </li>
                            <li><a href="@Url.Action("Create", "Register")" style="padding-bottom:20px; padding-top:20px;">Register</a></li>
                           
                            <li><a href="@Url.Action("Pricing", "Home")" style="padding-bottom:20px; padding-top:20px;">Pricing</a></li>
                            <li><a href="@Url.Action("FAQ", "Home")" style="padding-bottom:20px; padding-top:20px;">FAQ</a></li>
                            <li><a href="" style="padding-bottom:20px; padding-top:20px;">Services</a></li>
                            <li><a href="@Url.Action("DocLogin", "Account")" style="padding-bottom:20px; padding-top:20px;">Login</a></li>
                        </ul>
                    </div>
                    <!-- BEGIN TOP NAVIGATION MENU -->
                </div>
            </div>
        </div>
    </div>
    <!-- END HEADER -->
    <!-- BEGIN CONTAINER -->
    @RenderBody()
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="front-footer">
        <div class="container">
            <div class="row-fluid">
                <div class="row-fluid front-team">
                    <ul class="thumbnails">
                        <li class="span3 space-mobile">

                            <h3>
                                <a style="color:#fff; font-family:'Open Sans'; font-size:22px;">Location</a>

                            </h3>
                            <ul class="unstyled" style="color:white;">
                                <li>Dr.Consecte</li>
                                <li>Dr.Fusce</li>
                                <li>Dr.Lorem</li>
                                <li>Dr.Lorem</li>
                                <li>Dr.Lorem</li>
                                <li>Dr.Lorem</li>
                                <li>Dermatologists</li>
                                <li>Obstetricians & Gynaecologists</li>
                            </ul>
                        </li>
                        <li class="span3 space-mobile">

                            <h3>
                                <a style="color:#fff; font-family:'Open Sans'; font-size:22px;">Location</a>

                            </h3>
                            <ul class="unstyled" style="color:white;">
                                <li>Dr.Consecte</li>
                                <li>Dr.Fusce</li>
                                <li>Dr.Lorem</li>
                                <li>Dr.Lorem</li>
                                <li>Dr.Lorem</li>
                                <li>Dr.Lorem</li>
                                <li>Dermatologists</li>
                                <li>Obstetricians & Gynaecologists</li>
                            </ul>
                        </li>
                        <li class="span3 space-mobile">

                            <h3>
                                <a style="color:#fff; font-family:'Open Sans'; font-size:22px;">Location</a>

                            </h3>
                            <ul class="unstyled" style="color:white;">
                                <li>Dr.Consecte</li>
                                <li>Dr.Fusce</li>
                                <li>Dr.Lorem</li>
                                <li>Dr.Lorem</li>
                                <li>Dr.Lorem</li>
                                <li>Dr.Lorem</li>
                                <li>Dermatologists</li>
                                <li>Obstetricians & Gynaecologists</li>
                            </ul>
                        </li>
                        <li class="span3">

                            <h3>
                                <a style="color:#fff; font-family:'Open Sans'; font-size:22px;">Contact Us</a>

                            </h3>
                            <address class="margin-bottom-40">
                                Edox Healthcare Private Limited
                                1202/32, Bhagya Building,<br>
                                2nd Floor, Opp. Coronet Hotel,<br>
                                Apte Road, Shivaji Nagar,<br>
                                Pune, Maharashtra - 411004 <br>
                                Office Phone: +91-20-60503369 <br>
                                Email: <a href="mailto:info@edoxhealthcare.com" style="color:#e9811a;">info@edoxhealthcare.com</a>

                            </address>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END FOOTER -->
    <!-- BEGIN COPYRIGHT -->
    <div class="front-copyright" style="text-align:center;">
        <div class="container">
            <div class="row-fluid">
                <div class="span12">
                    <p>
                        <span class="margin-right-10">© 2015 Edox Healthcare Private Limited</span>
                        <a href="@Url.Action("PrivacyPolicy", "Home")" style="color: #1f317f;"><b>Privacy Policy</b></a> | <a href="@Url.Action("TermServices", "Home")" style="color: #1f317f;"><b>Terms of Service</b></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- END COPYRIGHT -->
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    @Scripts.Render("~/Content/Web_Theme/assets/plugins/jquery-1.10.1.min.js")
    @Scripts.Render("~/Content/Web_Theme/assets/plugins/jquery-migrate-1.2.1.min.js")
    @Scripts.Render("~/Content/Web_Theme/assets/plugins/bootstrap/js/bootstrap.min.js")
    @Scripts.Render("~/Content/Web_Theme/assets/plugins/back-to-top.js")
    @Scripts.Render("~/Content/Web_Theme/assets/plugins/bxslider/jquery.bxslider.js")
    @Scripts.Render("~/Content/Web_Theme/assets/plugins/fancybox/source/jquery.fancybox.pack.js")
    @Scripts.Render("~/Content/Web_Theme/assets/plugins/hover-dropdown.js")
    @Scripts.Render("~/Content/Web_Theme/assets/plugins/revolution_slider/rs-plugin/js/jquery.themepunch.plugins.min.js")
    @Scripts.Render("~/Content/Web_Theme/assets/plugins/revolution_slider/rs-plugin/js/jquery.themepunch.revolution.min.js")
    @Scripts.Render("~/Content/Web_Theme/assets/plugins/fancybox/source/jquery.fancybox.js")


    @Scripts.Render("~/Content/Web_Theme/assets/plugins/js/jquery.imedica.min.js")
    @Scripts.Render("~/Content/Web_Theme/assets/plugins/js/custom-imedicajs.min.js")
    <!--JS Inclution-->
    <!-- END CORE PLUGINS -->
    @Scripts.Render("~/Content/Web_Theme/assets/scripts/app.js")
    @Scripts.Render("~/Content/Web_Theme/assets/scripts/index.js")

    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            App.initBxSlider();
            Index.initRevolutionSlider();
            App.gridOption1();
        });
    </script>
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>

