@model MCMD.ViewModel.Administration.MediaViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_ThemeLayout.cshtml";
}

@{

    int Pages = 10;
    WebGrid grid = new WebGrid(Model.GetMedialist, canPage: true, rowsPerPage: Pages);
    grid.Pager(WebGridPagerModes.NextPrevious);
}

<script type="text/javascript">

    //Delete User on click
    function DeleteUserData(varid) {
        if (varid != null) {
            if (confirm('Are you sure you want to delete the selected user')) {
                var deleteInputs = [];
                //$('.chkview:checked').each(function (i, chk) {
                deleteInputs.push(varid);
                //});
                var url = '@Url.Action("BatchDelete", "Media")';
                $.ajax({
                    type: "POST",
                    async: false,
                    cache: false,
                    url: url,
                    traditional: true,
                    data: { deleteInputs: deleteInputs },
                    success: function (data) {
                        var url = '@Url.Action("Create", "Media")';
                        window.location.href = url;

                    }
                });
            }
        }
    }



</script>
<div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">

            <h3 class="page-title"></h3>
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="">Home</a>
                    <span class="icon-angle-right"></span>
                </li>
                <li>
                    <a href="#">Manage Doctor</a>
                    <span class="icon-angle-right"></span>
                </li>
                <li>
                    <a href="#">Doctor Personal Information</a>
                    <span class="icon-angle-right"></span>
                </li>
                <li>
                    <a href="#">Doctor Clinic Information</a>
                    <span class="icon-angle-right"></span>
                </li>
                <li>
                    <a href="#">Clinic Timing</a>
                    <span class="icon-angle-right"></span>
                </li>
                <li>
                    <a href="#">Media</a>
                    <span class="icon-angle-right"></span>
                </li>

            </ul>
        </div>


    </div>

    <div class="well">
        <span class="label label-important">NOTE!</span>
        <span>
            <span class="bold"> Upload Video Upto Size Only 1GB </span>

        </span>


    </div>
    <div class="alert alert-success">
        <div style="font-size:x-large; color:CaptionText">
            @TempData["UserName"]
        </div>
    </div>
    <div>
        <span class="text-success">@TempData["SuccessMessage"]</span>
        <span class="text-success">@TempData["AddNewItemMessage"]</span>
        <span class="text-error">@TempData["Message"]</span>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="portlet box blue ">
        <div class="portlet-title">
            <div class="caption"><i class="icon-reorder"></i>Media</div>

        </div>

        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            @using (Html.BeginForm(Html.BeginForm("Create", "Media",
            new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { @class = "form-horizontal form-bordered", enctype = "multipart/form-data" })))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="control-group">
                    <label class="control-label">Upload Photo/Image<span class="required">*</span></label>
                    <div class="controls">

                        <input id="ImagePath" title="Upload a clinic image"
                               type="file" name="file" />
                        <div>
                            <label>
                                <span style="color:red">*</span> Indicates mandatory fields.
                            </label>
                            <button type="Submit" id="btnSave" class="btn blue" name="btnRegister">Upload File</button>
                        </div>
                    </div>
                </div>
                <div class="portlet">
                    <div class="portlet-body">

                        @grid.GetHtml(
                                                    tableStyle: "table table-striped table-bordered table-advance table-hover",
                                         footerStyle: "gridFooter",
                                                alternatingRowStyle: "alt",
                                                 htmlAttributes: new { id = "grdUsers" },
                                                 mode: WebGridPagerModes.All,
                                               firstText: "<< First",
                            previousText: "< Previous", nextText: "Next >",
                            lastText: "Last >>",
                                             columns: new[] {
                                            // grid.Column("MediaId",header: "Media Id", canSort: false),
                                          //   grid.Column("LoginId",header: "Login Id", canSort: false),
                                           //  grid.Column("FolderFilePath",header: "Folder File Path", canSort: false),

                                              grid.Column("FolderFilePath", header: "Image",

                 format: (item) =>
                 {
                     return Html.Raw(string.Format("<text><img src=\"{0}\" alt=\"Image\" width='100px' height='100px'/></text>", Url.Content(@item.FolderFilePath)));
                 }
                ),


                                              grid.Column(header: "Option", format: @<text>


                    <a id="btnDelete" style="cursor:pointer;" onclick="DeleteUserData( @item.MediaId)">Delete</a>
                                            </text>)
                                        })

                    </div>
                </div>


                <div class="form-actions">



                    <button type="button" id="btnscd" class="btn" name="btnscd" onclick="location.href='@Url.Action("ViewDoctor", "User")'" style="float: left;">Back</button>

                    <button type="button" id="btnscd" class="btn" name="btnscd" onclick="location.href='@Url.Action("Create", "UpgradeService")'" style="float: right;"> Next</button>
                </div>
            }

            <!-- END FORM-->
        </div>


    </div>


</div>
@Scripts.Render("~/bundles/jqueryval")

<!-- END PAGE CONTENT-->
