@model MCMD.ViewModel.Administration.ClinicTimingViewModel

@{
    ViewBag.Title = "ClinicTiming";
    //Layout = "~/Views/Shared/_AdminLayout.cshtml";
    Layout = "~/Views/Shared/_ThemeLayout.cshtml";
   
}



@*<script>
    jQuery(document).ready(function () {
        App.init();
        TableManaged.init();
    });
</script>*@
@using (Html.BeginForm(Html.BeginForm("ClinicTiming", "DoctorClinicInfo",
            new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post)))
{

    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
<!-- BEGIN PAGE CONTAINER-->
<div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">


            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <h3 class="page-title">
                Managed User
            </h3>
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="">Home</a>
                    <span class="icon-angle-right"></span>
                </li>
                <li>
                    <a href="#">Manage Doctor</a>
                    <span class="icon-angle-right"></span>
                </li>
                <li>
                    <a href="#">Doctor Personal Information</a>
                    <span class="icon-angle-right"></span>
                </li>
                <li>
                    <a href="#">Doctor Clinic Information</a>
                    <span class="icon-angle-right"></span>
                </li>
                <li>
                    <a href="#">Clinic Timing</a>
                    <span class="icon-angle-right"></span>
                </li>
            </ul>
            <!-- END PAGE TITLE & BREADCRUMB-->
        </div>
        <div>
            <span class="text-success">@TempData["SuccessMessage"]</span>
            <span class="text-error">@TempData["Message"]</span>
        </div>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->

    <div class="row-fluid">
        <div class="span12">
            <div class="span12 responsive" data-tablet="span12 fix-offset" data-desktop="span8">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-cogs"></i>Clinic Timing</div>
                        <div class="actions">
                            <a href="#" class="btn green"><i class="icon-plus"></i> Add</a>

                        </div>
                    </div>

                    <div class="portlet-body">
                        <table class="table table-striped table-bordered table-hover" id="sample_2">
                            <thead>
                                <tr>
                                    <th style="width:0px;"><input type="checkbox" class="group-checkable" data-set="#sample_2 .checkboxes" /></th>

                                    <th class="hidden-480" style="width:550px;">First Setting</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX">
                                    <td>

                                        @Html.CheckBoxFor(m => m.GetCheckList[0].DayChecked, new { @class = "checkboxes", @id = "1" })
                                        @Model.GetCheckList[0].Days
                                        @Html.HiddenFor(m => Model.GetCheckList[0].DayscheckId)
                                        @Html.HiddenFor(m => Model.GetCheckList[0].Days)

                                    </td>

                                    <td>

                                        <div class="controls">
                                            From
                                            <div class="input-append bootstrap-timepicker-component">
                                                @Html.TextBoxFor(u => u.StartTimeMon, new { @class = "m-wrap m-ctrl-small timepicker-default", style = "width:100px;" })

                                                <span class="add-on"><i class="icon-time"></i></span>
                                            </div>To
                                            <div class="input-append bootstrap-timepicker-component">
                                                @Html.TextBoxFor(u => u.EndtTimeMon, new { @class = "m-wrap m-ctrl-small timepicker-default", style = "width:100px;" })

                                                <span class="add-on"><i class="icon-time"></i></span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td>
                                        @Html.CheckBoxFor(m => m.GetCheckList[1].DayChecked, new SelectList(Model.GetCheckList, "DayscheckId", "Days", "DayChecked"))
                                        @Model.GetCheckList[1].Days
                                        @Html.HiddenFor(m => Model.GetCheckList[1].DayscheckId)
                                        @Html.HiddenFor(m => Model.GetCheckList[1].Days)

                                    </td>

                                    <td>
                                        <div class="controls">
                                            From
                                            <div class="input-append bootstrap-timepicker-component">
                                                @Html.TextBoxFor(u => u.StartTimeTue, new { @class = "m-wrap m-ctrl-small timepicker-default", style = "width:100px;" })

                                                <span class="add-on"><i class="icon-time"></i></span>
                                            </div>To
                                            <div class="input-append bootstrap-timepicker-component">
                                                @Html.TextBoxFor(u => u.EndtTimeTue, new { @class = "m-wrap m-ctrl-small timepicker-default", style = "width:100px;" })

                                                <span class="add-on"><i class="icon-time"></i></span>
                                            </div>
                                        </div>
                                    </td>

                                </tr>
                                <tr class="odd gradeX">
                                    <td>
                                        @Html.CheckBoxFor(m => m.GetCheckList[2].DayChecked, new SelectList(Model.GetCheckList, "DayscheckId", "Days", "DayChecked"))
                                        @Model.GetCheckList[2].Days
                                        @Html.HiddenFor(m => Model.GetCheckList[2].DayscheckId)
                                        @Html.HiddenFor(m => Model.GetCheckList[2].Days)


                                    </td>

                                    <td>

                                        <div class="controls">
                                            From
                                            <div class="input-append bootstrap-timepicker-component">
                                                @Html.TextBoxFor(u => u.StartTimeWed, new { @class = "m-wrap m-ctrl-small timepicker-default", style = "width:100px;" })

                                                <span class="add-on"><i class="icon-time"></i></span>
                                            </div>To
                                            <div class="input-append bootstrap-timepicker-component">
                                                @Html.TextBoxFor(u => u.EndtTimeWed, new { @class = "m-wrap m-ctrl-small timepicker-default", style = "width:100px;" })

                                                <span class="add-on"><i class="icon-time"></i></span>
                                            </div>
                                        </div>
                                    </td>

                                </tr>
                                <tr class="odd gradeX">
                                    <td>
                                        @Html.CheckBoxFor(m => m.GetCheckList[3].DayChecked, new SelectList(Model.GetCheckList, "DayscheckId", "Days", "DayChecked"))
                                        @Model.GetCheckList[3].Days
                                        @Html.HiddenFor(m => Model.GetCheckList[3].DayscheckId)
                                        @Html.HiddenFor(m => Model.GetCheckList[3].Days)

                                    </td>

                                    <td>

                                        <div class="controls">
                                            From
                                            <div class="input-append bootstrap-timepicker-component">
                                                @Html.TextBoxFor(u => u.StartTimeThu, new { @class = "m-wrap m-ctrl-small timepicker-default", style = "width:100px;" })

                                                <span class="add-on"><i class="icon-time"></i></span>
                                            </div>To
                                            <div class="input-append bootstrap-timepicker-component">
                                                @Html.TextBoxFor(u => u.EndtTimeThu, new { @class = "m-wrap m-ctrl-small timepicker-default", style = "width:100px;" })

                                                <span class="add-on"><i class="icon-time"></i></span>
                                            </div>
                                        </div>
                                    </td>

                                </tr>
                                <tr class="odd gradeX">
                                    <td>
                                        @Html.CheckBoxFor(m => m.GetCheckList[4].DayChecked, new SelectList(Model.GetCheckList, "DayscheckId", "Days", "DayChecked"))
                                        @Model.GetCheckList[4].Days
                                        @Html.HiddenFor(m => Model.GetCheckList[4].DayscheckId)
                                        @Html.HiddenFor(m => Model.GetCheckList[4].Days)

                                    </td>

                                    <td>
                                        <div class="controls">
                                            From
                                            <div class="input-append bootstrap-timepicker-component">
                                                @Html.TextBoxFor(u => u.StartTimeFri, new { @class = "m-wrap m-ctrl-small timepicker-default", style = "width:100px;" })

                                                <span class="add-on"><i class="icon-time"></i></span>
                                            </div>To
                                            <div class="input-append bootstrap-timepicker-component">
                                                @Html.TextBoxFor(u => u.EndtTimeFri, new { @class = "m-wrap m-ctrl-small timepicker-default", style = "width:100px;" })

                                                <span class="add-on"><i class="icon-time"></i></span>
                                            </div>
                                        </div>
                                    </td>

                                </tr>
                                <tr class="odd gradeX">
                                    <td>
                                        @Html.CheckBoxFor(m => m.GetCheckList[5].DayChecked, new SelectList(Model.GetCheckList, "DayscheckId", "Days", "DayChecked"))
                                        @Model.GetCheckList[5].Days
                                        @Html.HiddenFor(m => Model.GetCheckList[5].DayscheckId)
                                        @Html.HiddenFor(m => Model.GetCheckList[5].Days)


                                    </td>

                                    <td>

                                        From
                                        <div class="input-append bootstrap-timepicker-component">
                                            @Html.TextBoxFor(u => u.StartTimeSat, new { @class = "m-wrap m-ctrl-small timepicker-default", style = "width:100px;" })

                                            <span class="add-on"><i class="icon-time"></i></span>
                                        </div>To
                                        <div class="input-append bootstrap-timepicker-component">
                                            @Html.TextBoxFor(u => u.EndtTimeSat, new { @class = "m-wrap m-ctrl-small timepicker-default", style = "width:100px;" })

                                            <span class="add-on"><i class="icon-time"></i></span>
                                        </div>

                                    </td>

                                </tr>
                                <tr class="odd gradeX">
                                    <td>
                                        @Html.CheckBoxFor(m => m.GetCheckList[6].DayChecked, new SelectList(Model.GetCheckList, "DayscheckId", "Days", "DayChecked"))
                                        @Model.GetCheckList[6].Days
                                        @Html.HiddenFor(m => Model.GetCheckList[6].DayscheckId)
                                        @Html.HiddenFor(m => Model.GetCheckList[6].Days)

                                    </td>

                                    <td>
                                        <div class="controls">
                                            From
                                            <div class="input-append bootstrap-timepicker-component">
                                                @Html.TextBoxFor(u => u.StartTimeSun, new { @class = "m-wrap m-ctrl-small timepicker-default", style = "width:100px;" })

                                                <span class="add-on"><i class="icon-time"></i></span>
                                            </div>To
                                            <div class="input-append bootstrap-timepicker-component">
                                                @Html.TextBoxFor(u => u.EndtTimeSun, new { @class = "m-wrap m-ctrl-small timepicker-default", style = "width:100px;" })

                                                <span class="add-on"><i class="icon-time"></i></span>
                                            </div>
                                        </div>
                                    </td>

                                </tr>

                            </tbody>
                        </table>

                        <div>

                            <button type="button" id="btnscd" class="btn blue" style="float:left;" name="btnscd" onclick="location.href='@Url.Action("Create", "DoctorClinicInfo")'">Back</button>
                            <div style="text-align:center;">   <button type="Submit" id="btnSave" class="btn" style="text-align:center;" name="btnSave">Save</button> 
                                <button type="button" id="btnReset" class="btn blue" name="btnscd" style="float:right;" onclick="location.href='@Url.Action("Create", "Media")'">Next</button>
                            </div>
                           
                        </div>
                    </div>




                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
        </div>
        
    </div>
    <!-- END PAGE CONTENT-->



</div>
}
<!-- BEGIN PAGE LEVEL SCRIPTS -->
@Scripts.Render("~/Content/template_content/assets/scripts/app.js")
@Scripts.Render("~/Content/template_content/assets/scripts/form-components.js")
@Scripts.Render("~/Content/template_content/assets/scripts/table-managed.js")



<!-- END PAGE LEVEL SCRIPTS -->
