@model MCMD.ViewModel.Administration.SpecialityViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_ThemeLayout.cshtml";
}

@{

    int Pages = 10;
    WebGrid grid = new WebGrid(Model.SpecialityList, canPage: true, rowsPerPage: Pages);
    grid.Pager(WebGridPagerModes.NextPrevious);
}
<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    //Delete User on click
    function DeleteUserData(varid) {
        if (varid != null) {
            if (confirm('Are you sure want to delete the selected user')) {
                var deleteInputs = [];
                //$('.chkview:checked').each(function (i, chk) {
                deleteInputs.push(varid);
                //});
                var url = '@Url.Action("BatchDelete", "Speciality")';
                $.ajax({
                    type: "POST",
                    async: false,
                    cache: false,
                    url: url,
                    traditional: true,
                    data: { deleteInputs: deleteInputs },
                    success: function (data) {
                        var url = '@Url.Action("Create", "Speciality")';
                        window.location.href = url;

                    }
                });
            }
        }
    }

    function EditUserData(varid) {
        if (varid != null) {
            if (confirm('Are you sure want to edit the details selected user')) {
                var Inputs = [];
                //$('.chkview:checked').each(function (i, chk) {
                Inputs.push(varid);
                //});
                var url = '@Url.Action("UserEditSpeciality", "Speciality")';
                $.ajax({
                    type: "POST",
                    async: false,
                    cache: false,
                    url: url,
                    traditional: true,
                    data: { Id: Inputs },
                    success: function (data) {
                        alert(data)
                        window.location.reload();
                    }
                });
            }
        }
    }

</script>
<div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">
           
            <h3 class="page-title"></h3>
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="">Home</a>
                    <span class="icon-angle-right"></span>
                </li>
                <li>
                    <a href="#">Speciality</a>
                    <span class="icon-angle-right"></span>
                </li>
                <li>
                    <a href="#">Create Speciality</a>
                    <span class="icon-angle-right"></span>
                </li>

            </ul>
        </div>
        <div>
            <span class="text-success">@TempData["SuccessMessage"]</span>
            <span class="text-error">@TempData["Message"]</span>
        </div>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="portlet box blue ">
        <div class="portlet-title">
            <div class="caption"><i class="icon-reorder"></i>Create/Add Speciality</div>

        </div>

        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            @using (Html.BeginForm(Html.BeginForm("Create", "Speciality",
            new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { @class = "form-horizontal form-bordered" })))
            {

                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                <div class="control-group">
                    <label class="control-label">Speciality Name</label>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.SpecialityName, new { @class = "m-wrap span6", @placeholder = "Enter Speciality Name", @maxlength = "50", @autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.specialitys.SpecialityName, string.Empty, new { @class = "text-error" })

                    </div>
                </div>
                <div class="form-actions">
                    <button type="Submit" id="btnCreate" name="btnCreate" class="btn blue">Submit</button>
                    <button type="button" id="btnReset" class="btn" name="btnscd" onclick="location.href='@Url.Action("Create", "Speciality")'">Reset</button>
                </div>
            }



            <!-- END FORM-->
        </div>


    </div>
    @Scripts.Render("~/bundles/jqueryval")
    <div class="portlet-title">


        <div class="portlet-body">

            @grid.GetHtml(
                                                    tableStyle: "table table-border table-hover",
                                         footerStyle: "gridFooter",
                                                alternatingRowStyle: "alt",
                                                 htmlAttributes: new { id = "grdUsers" },
                                                 mode: WebGridPagerModes.All,
                                               firstText: "<< First",
                            previousText: "< Previous", nextText: "Next >",
                            lastText: "Last >>",
                                             columns: new[] {
                                             //grid.Column("ID",header: "Speciality ID", canSort: false),
                                             grid.Column("SpecialityName",header: "Speciality Name", canSort: false),
                                              grid.Column(header: "Option", format: @<text>

                                                <a id="btnEdit" style="cursor:pointer;" onclick="EditUserData( @item.SpecialityID)">Edit</a>
                                                @*<a id="btnDelete" style="cursor:pointer;" onclick="DeleteUserData( @item.SpecialityID)">Delete</a>*@
                                            </text>)
                                        })



        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>




