@model MCMD.ViewModel.Account.LoginViewModel
@{
    ViewBag.Title = "patientLogin";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

<!-- BEGIN GLOBAL MANDATORY STYLES -->
@Styles.Render("~/Content/template_content/assets/css/style.css")
@Styles.Render("~/Content/template_content/assets/css/style-responsive.css")

@Styles.Render("~/Content/template_content/assets/plugins/uniform/css/uniform.default.css")
@Styles.Render("~/Content/template_content/assets/plugins/select2/select2_metro.css")
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL STYLES -->
@Styles.Render("~/Content/template_content/assets/css/pages/login.css")
<!-- END PAGE LEVEL STYLES -->
<!-- BEGIN BREADCRUMBS -->
@*<div class="row-fluid breadcrumbs margin-bottom-40">
        <div class="container">
            <div class="span4">
                <h1>Portfolio Item</h1>
            </div>
            <div class="span8">
                <ul class="pull-right breadcrumb">
                    <li><a href="index.html">Home</a> <span class="divider">/</span></li>
                    <li><a href="">Pages</a> <span class="divider">/</span></li>
                    <li class="active">Portfolio Item</li>
                </ul>
            </div>
        </div>
    </div>*@
<!-- END BREADCRUMBS -->
<!-- BEGIN CONTAINER -->
<div class="container min-hight" style="padding-top:150px;">
    <!-- BEGIN PORTFOLIO ITEM -->
    <div class="row-fluid margin-bottom-30">

        <!-- BEGIN PORTFOLIO DESCRIPTION -->
        <div class="span8">
            <h2>Quis tempor incididunt</h2>
            <p>Molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa quis tempor incididunt ut et dolore et dolorum fuga. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus.</p>
            <p>Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam unde nostrudlaboris. Sed unde omnis iste natus error sit voluptatem.</p>
            <br>
            <div class="row-fluid front-lists-v2 margin-bottom-15">
                <div class="span6">
                    <ul class="unstyled">
                        <li><i class="icon-html5"></i> HTML5/CSS3</li>
                        <li><i class="icon-bell"></i> Web Deisgn</li>
                        <li><i class="icon-globe"></i> Web Development</li>
                        <li><i class="icon-shopping-cart"></i> Shoping Cart</li>
                    </ul>
                </div>
                <div class="span6">
                    <ul class="unstyled">
                        <li><i class="icon-dropbox"></i> Free Storage</li>
                        <li><i class="icon-cloud"></i> Cloud Hosting</li>
                        <li><i class="icon-comments"></i> Free Support</li>
                        <li><i class="icon-star"></i> Awesome UI</li>
                    </ul>
                </div>
            </div>
            <a href="#" class="btn theme-btn"> VISIT THE PROJECT</a>
        </div>
        <!-- END PORTFOLIO DESCRIPTION -->
        <!-- BEGIN CAROUSEL -->
        <div class="span4" style="text-align:center;">
            <h2>    @Html.ActionLink("Doctor Login", "DocLogin") | @Html.ActionLink("Patient Login", "patientLogin")  </h2>
        </div>
        <div class="span4 front-carousel pricing pricing-active" style="border-color:#ff8503">

            <div id="myCarousel" class="carousel slide">
                <!-- Carousel items -->
                <div class="carousel-inner" style="background-color:#FBFCFD;">

                    <div class="pricing-head pricing-head-active" style="text-align:justify;">
                        <h3 style="background-color:#ff8503;border-bottom: solid 1px #ff8503;text-align:center;">Patient Login @*<span> doctor registration</span>*@</h3>

                        @using (Html.BeginForm("patientLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-actions login-form", role = "form", @style = "background-color:#FBFCFD;margin-top:0px;margin-bottom:0px;" }))
                        {
                            @Html.ValidationSummary(true)
                            <div>
                                <span class="text-error">@TempData["ErrorMessage"]</span>
                            </div>
                            <div class="control-group">

                                <div class="controls">
                                    <div class="input-icon left">
                                        <i class="icon-user"></i>
                                        @Html.TextBoxFor(m => m.EmailId, new { @class = "m-wrap", @placeholder = "*Enter Email Id", @maxlength = "50", @autocomplete = "off", @style = "min-height:30px;color:gray;border-left: 2px solid #35aa47;min-width:285px;" })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.EmailId, string.Empty, new { @class = "text-error" })

                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <div class="input-icon left">
                                        <i class="icon-lock"></i>
                                        @Html.PasswordFor(m => m.Password, new { @class = "m-wrap ", @placeholder = "*Enter password", @maxlength = "50", @autocomplete = "off", @style = "min-height:30px;color:gray;border-left: 2px solid #35aa47;min-width:285px;" })

                                    </div>
                                    @Html.ValidationMessageFor(m => m.Password, string.Empty, new { @class = "text-error" })

                                </div>
                            </div>
                            <div class="form-horizontal">
                                <span class="required">*Indicates mandatory fields.</span>

                                <button type="submit" class="btn green">
                                    Login <i class="m-icon-swapright m-icon-white"></i>
                                </button>
                            </div>
                            <br />
                            <div class="forget-password" style="text-align:center;">
                                <p>Forgot your password ?&nbsp; click @Html.ActionLink("here", "PatientForgotPassword")</p>
                                @*<p>
                                     for Doctor Login click  @Html.ActionLink("DocLogin", "Account")

                                    </p>*@
                            </div>
                            <div class="create-account" style="text-align:center;">
                                <p>
                                    Don't have an account yet ?&nbsp;
                                    @Html.ActionLink("Create an account", "Create", "Register")
                                </p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <!-- END CAROUSEL -->
    </div>
    <!-- END PORTFOLIO ITEM -->
    <!-- BEGIN BLOCKQUOTE BLOCK -->
    <div class="row-fluid quote-v1">
        <div class="span7 quote-v1-inner">
            <span>Lorem ipsum dolor sit amet, consectetuer adipiscing tempor</span>
        </div>
        <div class="span5 quote-v1-inner text-right">
            <a class="btn-transparent" href="#"><i class="icon-rocket margin-right-10"></i>Adipiscing</a>
            <a class="btn-transparent" href="#"><i class="icon-gift margin-right-10"></i>Get it FREE</a>
        </div>
    </div>
    <!-- END BLOCKQUOTE BLOCK -->

    <div class="clearfix"></div>


</div>


