@model MCMD.ViewModel.Administration.UserRegisterViewModel

@{

    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_ThemeLayout.cshtml";
}

<div class="parallax-out wpb_row vc_row-fluid ihome-parallax">


    <div id="second" class="upb_row_bg vcpb-hz-jquery" data-upb_br_animation="" data-parallax_sense="30" data-bg-override="ex-full">

        @using (Html.BeginForm())
        {

            @Html.ValidationSummary(true)

            <div class="container" style="padding-top:20px;">


                <div class="row">
                    <!--About-us top-content-->


                    <div class="col-xs-12 col-sm-12 col-md-12 pull-left blgo-full-wrap no-pad" style="padding-top:0px;">
                        <!-- Blog box -->
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">




                            <div class="appointment-form  no-pad wow fadeInRight animated" data-wow-delay="1s" data-wow-offset="200">
                                <div class="appointment-form-title"><i class="icon-hospital2 appointment-form-icon"></i>Doctor Registration</div>
                                <div class="appt-form">



                                    @*@Html.TextBoxFor(u => u.Userlogins.UserName, new { @class = "contact2-textbox", @placeholder = "Enter Username", @maxlength = "30", autocomplete = "off" })
                                    @Html.ValidationMessageFor(u => u.Userlogins.UserName, string.Empty)*@


                                    @Html.TextBoxFor(u => u.Userlogins.FirstName, new { @class = "contact2-textbox", @placeholder = "Enter First Name", @maxlength = "30", @autocomplete = "off" })
                                    @Html.ValidationMessageFor(u => u.Userlogins.FirstName, string.Empty)

                                    @Html.TextBoxFor(u => u.Userlogins.LastName, new { @class = "contact2-textbox", @placeholder = "Enter Last Name", @maxlength = "30", @autocomplete = "off" })
                                    @Html.ValidationMessageFor(u => u.Userlogins.LastName, string.Empty)

                                    @Html.TextBoxFor(u => u.Userlogins.EmailID, new { @class = "contact2-textbox", @type = "email", @placeholder = "Enter Email ID", @maxlength = "40", @autocomplete = "off" })
                                    @Html.ValidationMessageFor(u => u.Userlogins.EmailID, string.Empty)

                                    @*@Html.TextBoxFor(u => u.Userlogins.Password, new { @type = "password", @class = "contact2-textbox", @placeholder = "Enter Password", @maxlength = "50", autocomplete = "off" })
                                    @Html.ValidationMessageFor(u => u.Userlogins.Password)*@

                                    @*@Html.TextBoxFor(u => u.Userlogins.ConfirmPassword, new { @type = "password", @class = "contact2-textbox", @placeholder = "Enter Confirm Password", @maxlength = "50", autocomplete = "off" })
                                    @Html.ValidationMessageFor(u => u.Userlogins.ConfirmPassword)*@

                                    @Html.TextBoxFor(u => u.Userlogins.UserPhone, new { @class = "contact2-textbox", @type = "phone", @placeholder = "Enter Mobile No", @maxlength = "40", @autocomplete = "off" })
                                    @Html.ValidationMessageFor(u => u.Userlogins.UserPhone, string.Empty)
                                  
                                    @Html.DropDownListFor(m => m.SpecialityID, new SelectList(Model.Specialitys, "SpecialityID", "SpecialityName"),
                                            "- Select Speciality-", new { @class = "contact2-textbox" })



                                    <section class="color-7" id="btn-click">
                                        <button type="Submit" id="btnCreate" name="btnCreate" class="icon-mail btn2-st2 btn-7 btn-7b">Submit</button>

                                    </section>

                                </div>

                            </div>



                        </div>
                    </div>
                </div>
            </div>

        }


    </div>
</div>

<div class="purchase-wrap-blue ipurchase-wrap" style="margin-bottom:1px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 pull-right">
                <div class="purchase-strip-blue pull-right col-sm-12 col-md-12 col-xs-12 pull-left notViewed wow fadeInUp" data-wow-delay="0.5s" data-wow-offset="150">
                    <div class="purchase-strip-text">EDOX IS CLEAN AND <span class="ipurcahse-strip-text">PROFESSIONAL</span> THEME FOR YOU !</div>
                    <div class="color-4">
                        <p class="ipurchase-paragraph">
                            <button class="icon-cart btn btn-4 btn-4a notViewed wow fadeInUp" data-wow-delay="0.5s" data-wow-offset="150">DEMO</button>
                        </p>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>



