@model MCMD.ViewModel.Administration.DoctorClinicInformationViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_DoctorLayout.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>

<!-- BEGIN PAGE CONTAINER-->
<div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">

            <h3 class="page-title"></h3>
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="">Home</a>
                    <span class="icon-angle-right"></span>
                </li>
                <li>
                    <a href="#">My Profile</a>
                    <span class="icon-angle-right"></span>
                </li>
                <li>
                    <a href="#">Clinic Information</a>
                    <span class="icon-angle-right"></span>
                </li>
            </ul>
        </div>
        <div>
            <span class="text-success">@TempData["SuccessMessage"]</span>
            <span class="text-error">@TempData["Message"]</span>
        </div>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="portlet box blue ">
        <div class="portlet-title">
            <div class="caption"><i class="icon-reorder"></i> My Clinic Information</div>

        </div>

        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            @using (Html.BeginForm(Html.BeginForm("Create", "DocClinicInfo",
            new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { @class = "form-horizontal form-bordered" })))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="control-group">
                    <label class="control-label">Name of the Clinic<span class="required">*</span></label>
                    <div class="controls">

                        @Html.TextBoxFor(u => u.ClinicName, new { @class = "m-wrap span12", @placeholder = " Clinic Name", @maxlength = "30", @autocomplete = "off" })
                        @Html.ValidationMessageFor(u => u.ClinicName, string.Empty, new { @class = "text-error" })

                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Address<span class="required">*</span> </label>
                    <div class="controls">
                        @Html.TextBoxFor(u => u.ClinicAddress, new { @class = "m-wrap span12", @placeholder = "Clinic Address", @maxlength = "30", @autocomplete = "off" })
                        @Html.ValidationMessageFor(u => u.ClinicAddress, string.Empty, new { @class = "text-error" })
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Phone #<span class="required">*</span></label>
                    <div class="controls">
                        @Html.TextBoxFor(u => u.ClinicPhoneNo, new { @class = "m-wrap span12", @placeholder = "Clinic Phone No", @maxlength = "30", @autocomplete = "off" })
                        @Html.ValidationMessageFor(u => u.ClinicPhoneNo, string.Empty, new { @class = "text-error" })
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Fees</label>
                    <div class="controls">
                        @Html.TextBoxFor(u => u.ClinicFees, new { @class = "m-wrap span12", @placeholder = "Clinic Fees", @maxlength = "30", @autocomplete = "off" })
                        @Html.ValidationMessageFor(u => u.ClinicFees, string.Empty, new { @class = "text-error" })
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Country<span class="required">*</span></label>
                    <div class="controls">
                        @Html.DropDownListFor(m => m.Country, new SelectList(Model.countyList, "CountryId", "CountryName"),
                             "-Select-", new { @class = "m-wrap span6" })
                        @Html.ValidationMessageFor(m => m.Country, "", new { @class = "text-error" })
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">State<span class="required">*</span> </label>
                    <div class="controls">
                        @Html.DropDownListFor(m => m.State, new SelectList(Model.stateList, "StateId", "StateName"),
                             "-Select-", new { @class = "m-wrap span6" })
                        @Html.ValidationMessageFor(m => m.State, "", new { @class = "text-error" })
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">City<span class="required">*</span></label>
                    <div class="controls">
                        @Html.DropDownListFor(m => m.City, new SelectList(Model.cityList, "CityId", "CityName"),
                             "-Select-", new { @class = "m-wrap span6" })
                        @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-error" })
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Pin Code<span class="required">*</span></label>
                    <div class="controls">
                        @Html.TextBoxFor(u => u.ZipCode, new { @class = "m-wrap span12", @placeholder = "Zip Code", @maxlength = "30", @autocomplete = "off" })
                        @Html.ValidationMessageFor(u => u.ZipCode, string.Empty, new { @class = "text-error" })
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Services offered</label>
                    <div class="controls">
                        @Html.TextBoxFor(u => u.ClinicServices, new { @class = "m-wrap span12", @placeholder = "Clinic Services", @maxlength = "30", @autocomplete = "off" })

                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Awards And Recognization</label>
                    <div class="controls">
                        @Html.TextBoxFor(u => u.AwardsAndRecognization, new { @class = "m-wrap span12", @placeholder = "AwardsAnd Recognization", @maxlength = "30", @autocomplete = "off" })

                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">About Clinic</label>
                    <div class="controls">
                        @Html.TextAreaFor(u => u.AboutClinic, new { @class = "m-wrap span12", @placeholder = "AboutClinic", @maxlength = "30", @autocomplete = "off" })

                    </div>
                </div>

                <div class="form-actions">

                    <button type="Submit" id="btnCreate" class="btn blue" name="btnCreate">Submit</button>

                    <button type="button" id="btnscd" class="btn" name="btnscd" onclick="location.href='@Url.Action("Create", "DocClinicInfo")'">Reset</button>
                </div>
            }

            <!-- END FORM-->
        </div>


    </div>

    <!-- END PAGE CONTENT-->
</div>
<!-- END PAGE CONTAINER-->
@Scripts.Render("~/bundles/jqueryval")
