@model MCMD.ViewModel.Administration.UpgradeServiceViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_DoctorLayout.cshtml";
}

@Html.HiddenFor(x => x.MembershipId)
<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
<div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">

            <h3 class="page-title"></h3>
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="">Home</a>
                    <span class="icon-angle-right"></span>
                </li>
                <li>
                    <a href="#">Mange Doctor</a>
                    <span class="icon-angle-right"></span>
                </li>
                <li>
                    <a href="#">Doctor Personal Information</a>
                    <span class="icon-angle-right"></span>
                </li>
                <li>
                    <a href="#">Doctor Clinic Information</a>
                    <span class="icon-angle-right"></span>
                </li>
                <li>
                    <a href="#">Clinic Timing</a>
                    <span class="icon-angle-right"></span>
                </li>
                <li>
                    <a href="#">Media</a>
                    <span class="icon-angle-right"></span>
                </li>
                <li>
                    <a href="#">Upgrade Service</a>
                    <span class="icon-angle-right"></span>
                </li>


            </ul>
        </div>

    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="portlet box blue ">
        <div class="portlet-title">
            <div class="caption"><i class="icon-reorder"></i>Choose the desired service/services and billing plan for your practice </div>

        </div>

        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            @using (Html.BeginForm(Html.BeginForm("Create", "DocUpgradeService",
            new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { @class = "form-horizontal form-bordered" })))
            {

                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()


                @ViewBag.Message

                <h3> Select Services </h3>

                <table width="100%" class="controls">
                    @for (int i = 0; i < Model.membershipListTwo.Count; i++)
                    {
                        <tr>
                            <td>
                                @Html.CheckBoxFor(m => Model.membershipListTwo[i].CheckedStatus)
                                @Model.membershipListTwo[i].MembershipType
                                @Html.HiddenFor(m => Model.membershipListTwo[i].MembershipId)
                                @Html.HiddenFor(m => Model.membershipListTwo[i].MembershipType)
                            </td>
                        </tr>
                    }

                    <tr>
                        <td>
                            @ViewBag.MembershipTwo
                        </td>
                    </tr>
                </table>
                <br />
                <div class="control-group">
                    <label class="control-label">Select Plan<span class="required">*</span></label>
                    <div class="controls">

                        @Html.DropDownListFor(m => m.DurationId, new SelectList(Model.DurationList, "DurationId", "Durations"), "-Select-", new { @class = "m-wrap span6" })
                        @Html.ValidationMessageFor(m => m.DurationId, string.Empty, new { @class = "text-error" })

                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Auto Renewal<span class="required">*</span></label>
                    <div class="controls">
                        @Html.DropDownListFor(m => m.AutoRenavalId, new SelectList(Model.MonthsList, "AutoRenavalId", "Renaval"), "-Select-", new { @class = "m-wrap span6" })
                        @Html.ValidationMessageFor(m => m.AutoRenavalId, string.Empty, new { @class = "text-error" })
                    </div>
                </div>
                <label>
                    <span style="color:red">*</span> Indicates mandatory fields.
                </label>
                <div class="form-actions">

                    <button type="button" id="btnscd" class="btn" name="btnscd" onclick="location.href='@Url.Action("ViewDoctor", "User")'">Back</button>
                    <button type="Submit" id="btnCreate" name="btnCreate" class="btn blue">Submit</button>

                </div>
            }

            <!-- END FORM-->
        </div>


    </div>

    <!-- END PAGE CONTENT-->
</div>
@Scripts.Render("~/bundles/jqueryval")
